<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="DRIVER=PostgreSQL ANSI;Data Source=localhost;Database=location_voitures;Use Unicode=True"/>
    <add key="user" value="postgres"/>
    <add key="password" value="055597596"/>
  </appSettings>
</configuration>
